.content-container {
	padding: 10px;
}

.td-topics {
	border-right: 1px solid #ddd;
	width: 33% !important;
}

.td-predicates {
	border-right: 1px solid #ddd;
	width: 33% !important;
}

.td-functions {
	width: 33% !important;
}

.error {
	color: red !important;
	font-size: 14px !important;
}

.success {
	color: cadetblue !important;
	font-size: 14px !important;
}

.help-block {
	color: gray;
	font-size: 10px;
}

.td-eval-settings {
	border-right: 1px solid #ddd;
	width: 400px !important;
}

.td-eval-result {
	width: 400px !important;
}
